@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Fira Sans'sans-serif;
    background: linear-gradient(to top, #f0f0f0, #acacac);
    height: 88pc;
}

header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #979595;
    width: 100%;
    max-width: 1500px;
    border-bottom: 1px solid #8b8b8b;
    padding: 5px;
    z-index: 9999;
}

section#header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-logo img {
    width: 100%;
    max-height: 50px;
    background-color: #6E6E6E;
    border-radius: 100%;
    box-shadow: -1px 0 1px 1px #3e3e3e;
    margin-left: 20px;
    color: #a0a0a0;
}

section#header-logo h2 {
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 3px;
    color: #b1afaf;
    text-shadow: 1px 1px 1px #2f2f2f;
    letter-spacing: 1px;
}

section#header-logo sup {
    font-weight: 100;
    font-size: 0.4em;
    color: #acaaaa;
}

nav {
    width: 100%;
    max-width: 350px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #676161;
    transition: 0.3s;
    position: relative;
    margin: 0 20px;
}

nav ul li a:hover {
    transform: scale(1.07);
    color: #c3b7b7;
}

nav #marker {
    position: absolute;
    bottom: 0;
    height: 100%;
    border-bottom: 5px solid #757575;
    background: linear-gradient(0deg, #cccbcb33, transparent);
    transition: 0.5s;
    pointer-events: none;
    filter: drop-shadow(0 5px 25px #a8a3a3);
    text-align: center;
}

header #header-right input[type="search"] {
    border: none;
    background-color: #8c8b8b;
    font-size: 1.3em;
    font-family: 'Poppins';
    text-indent: 10px;
    color: #fffbfe;
    height: 30px;
    text-align: center;
    margin-right: 50px;
    border-radius: 20px;
    width: 200px;
}

/* TODO Article */
article {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

article section#article-title {
    font-size: 2.5em;
    position: absolute;
    top: 100px;
    letter-spacing: 1px;
    color: #343434;
}

/* section-one */
section.discount {
    background-image: linear-gradient(to top, #b8b7b7, #999999);
    width: 300px;
    position: absolute;
    top: 180px;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
    box-shadow: inset -1px 0px 1px 1px #535252,
        inset 1px -1px 1px 1px #4a4a4a;
    transform: scale(1.1);
    margin-top: 30px;
}

section .discount-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -35px;
    background-image: linear-gradient(45deg, #c3c0c0 70%, #5f5f5f 30%);
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid #535252;
}

section .discount-title h3 {
    font-size: 1.3em;
    color: #232323;
    font-weight: 600;
}

section .discount-price {
    max-width: 150px;
    margin-top: -15px;
}

section .discount-price h2 {
    font-size: 2.5em;
    color: #e9e7e7;
    letter-spacing: -1.5px;
    margin-bottom: 10px;
}

section .discount-price h2>span {
    color: #1eb63a99;
    margin-right: 5px;
}

section .discount-price sub {
    font-size: 0.5em;
    color: #696868;
    letter-spacing: -1px;
}

section .discount-personal {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-top: 5px dotted #8d8d8d;
}

section .discount-personal span {
    line-height: 25px;
    font-size: 1.2em;
    color: #464545;
}

section .discount-personal span:nth-child(2) {
    margin-bottom: 30px;
    line-height: 15px;
    border-bottom: 5px double #8d8d8d;
    padding-bottom: 15px;
}

section .discount-personal span:nth-child(1) i {
    color: white;
    margin-right: 10px;
}

section .discount-personal span:nth-child(2) i {
    color: #f3dc5b;
    margin-right: 5px;
}

section .discount-personal p {
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #666666;
    font-weight: 500;
    letter-spacing: -1px;
}

section .discount-buy form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top: 2px solid #8d8d8d;
}

section .discount-buy button {
    background-color: #8d8d8d;
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 70px;
    cursor: pointer;
}

section .discount-buy button:hover {
    background-color: #757575;
}

/* section-two */
article section.discount.two {
    margin-right: -40pc;
    background-image: linear-gradient(to top, #b8b7b7, #999999);
    width: 300px;
    position: absolute;
    top: 200px;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
    box-shadow: inset -1px 0px 1px 1px #535252,
        inset 1px -1px 1px 1px #4a4a4a;
    transform: rotate(4deg) scale(1.05);
}

/* section-three */
article section.discount.three {
    margin-left: -40pc;
    background-image: linear-gradient(to top, #b8b7b7, #999999);
    width: 300px;
    position: absolute;
    top: 200px;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
    box-shadow: inset -1px 0px 1px 1px #535252,
        inset 1px -1px 1px 1px #4a4a4a;
    transform: rotate(-5deg) scale(1);
}


/* join */

section.join {
    border-top: 3px dotted #6a6a6a;
    border-bottom: 3px dotted #6a6a6a;
    padding-bottom: 70px;
    display: flex;
    top: 650px;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    width: 100%;
}

.join .join-chat {
    transform: rotate(calc(var(--r) * 1deg));
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 20px;
    background-color: #adadad;
    max-width: 350px;
    width: 100%;
}

section .join-title h3 {
    font-size: 2em;
    color: #3e3e3e;
    letter-spacing: -1px;
    position: absolute;
    top: -10px;
    margin: 15px 30pc 30px 30pc;
}

.join .join-chat:not(:last-child and :nth-child(4) and :nth-child(5)) {
    margin: 75px 30px 5px 10px;
    width: 100%;
    max-width: 250px;
}

.join-chat img {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    float: left;
    margin: 3px;
    box-shadow: -1px 1px 1px 1px #565555;
}

.join-chat p.name {
    font-size: 1.2em;
    font-weight: 600;
    color: #565555;
    letter-spacing: 1px;
}

.join-chat p.name i {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -10px;
}

.join-chat span {
    font-size: 1em;
    color: #303030;
    letter-spacing: -1px;
}

.join-chat main p {
    width: 100%;
    max-width: 350px;
    margin: 10px 0 0 0;
    color: #3d3d3d;
    text-indent: 5px;
    position: relative;
}

.join-chat>i {
    margin-top: 5px;
    color: #f9e993;
    font-size: 15px;
}

.trial {
    position: relative;
    top: 72pc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.trial ul li {
    list-style: none;
    display: inline;
}

.trial ul li:nth-child(2) {
    text-decoration: none;
    font-size: .9em;
    display: flex;
    justify-content: none;
    right: 34pc;
    position: absolute;
    top: 50px;
}

.trial ul li a#free {
    background: linear-gradient(350deg, #828181 50%, #4a4a4a 50%);
    padding: 10px;
    border-radius: 20px;
    margin-right: 3px;
    color: #e6ecec;
    box-shadow: 1px 1px 3px rgb(114, 114, 114);
    text-shadow: 0 0 5px black;
    box-shadow: 0 3px 3px 3px #b3b1b1;
    position: relative;
    top: 60px;
    text-decoration: none;
}

.footer {
    margin-top: 50px;
    background-color: #b3b1b1;
    height: 250px;
    position: relative;
    top: 72pc;
    border-top: 3px double #727272;
    display: grid;
    grid-template-areas:
        'top top top'
        'center center center'
        'bottom bottom bottom';
}

.footer img {
    width: 60px;
    grid-area: top;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px dotted #535252;
    border-radius: 100%;
    padding: 0;
    background: #8f8f8f;
}

.footer h2 {
    grid-area: top;
    margin-top: 40px;
    margin-left: 80px;
    letter-spacing: -1px;
    color: #696868;
}

.footer sup {
    font-size: .5em;
}

.footer button {
    grid-area: top;
    position: absolute;
    right: 30px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    background: none;
    cursor: pointer;
    border: none;
}

.center {
    grid-area: center;
    display: flex;
    justify-content: space-around;
}

.center ul li {
    list-style: none;
    margin-right: 10px;
    line-height: 25px;
}

.center ul li a {
    text-decoration: none;
    color: #646464;
    font-weight: 600;
}

.center ul li a i {
    color: #f68f69;
}


.footer footer {
    grid-area: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    color: #565555;
    text-shadow: 1px 1px 1px #4f4f4f;
    border-top: 1px dotted #6a6a6a;
    letter-spacing: 1px;
    padding: 3px;
}






/* ! size handphone */
@media (max-width: 700px) {
    * {
        box-sizing: border-box;
    }

    header {
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #979595;
        width: 100%;
        max-width: 700px;
        border-bottom: 1px solid #8b8b8b;
        padding: 10px;
        z-index: 9999;
    }

    #header-logo img {
        background-image: none;
        background-size: 0px;
        width: 0;
    }

    section#header-logo h2 {
        font-size: 1.4em;
        font-weight: 600;
        color: #b1afaf;
        text-shadow: 1px -1px 1px #2f2f2f;
    }

    nav {
        width: 100%;
        max-width: 350px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        color: #676161;
        transition: 0.3s;
        position: relative;
        margin: 0 20px;
    }

    section#header-right {
        display: flex;
        width: 100%;
        max-width: 150px;
        margin-right: 15px;
    }

    section#header-right button {
        background-color: #b3afaf;
        width: 100%;
        padding: 3px;
        border: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        color: #e3e0e0;
        cursor: pointer;
        box-shadow: inset 0.3px 0.3px 1px 0.5px #6c6c6c;
        transition: 0.3s;
        font-size: .9em;
    }

    /* TODO Section */
    article {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        position: relative;
        transform: scale(1);
    }

    article section#article-title {
        font-size: 2.5em;
        letter-spacing: 1px;
        color: #4e4d4d;
        text-align: center;
        margin-left: 200px;
    }

    /* section-one */
    section.discount {
        margin: 10px 0 10px 0px;
        background-image: linear-gradient(to top, #b8b7b7, #999999);
        width: 300px;
        position: absolute;
        top: 180px;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 10px;
        box-shadow: inset -1px 0px 1px 1px #535252,
            inset 1px -1px 1px 1px #4a4a4a;
        transform: scale(1.1) rotate(-5deg);
        margin-top: 30px;
    }

    /* section-two */
    article section.discount.two {
        margin: 450px 0px 10px 250px;
        background-image: linear-gradient(to top, #b8b7b7, #999999);
        width: 300px;
        position: absolute;
        top: 200px;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 10px;
        box-shadow: inset -1px 0px 1px 1px #535252,
            inset 1px -1px 1px 1px #4a4a4a;
        transform: rotate(4deg) scale(1.05);
    }

    /* section-three */
    article section.discount.three {
        margin: 900px 0 10px 0;
        background-image: linear-gradient(to top, #b8b7b7, #999999);
        width: 300px;
        position: absolute;
        top: 200px;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 10px;
        box-shadow: inset -1px 0px 1px 1px #535252,
            inset 1px -1px 1px 1px #4a4a4a;
        transform: rotate(-5deg) scale(1);
    }

    /* ! Join Chat */
    section.join {
        border-top: 3px dotted #6a6a6a;
        display: flex;
        margin-top: 55pc;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 700px;
        width: 100%;
        border-bottom: 3px dotted #6a6a6a;
    }

    section .join-title h3 {
        font-size: 2em;
        color: #5e5e5e;
        letter-spacing: -1px;
        position: absolute;
        margin: 20px 0 20px 50px;
    }

    .join .join-chat {
        transform: rotate(calc(var(--r) * 0deg));
        box-shadow: 0 0 3px rgba(0, 0, 0, .5);
        padding: 10px;
        border-radius: 20px;
        background-color: #adadad;
        max-width: 350px;
        width: 100%;
    }

    .join-chat>i {
        margin-top: 5px;
        color: #f9e993;
        font-size: 15px;
    }

    .trial {
        position: relative;
        top: 72pc;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .trial ul li {
        list-style: none;
        display: inline;
    }

    .trial ul li a {
        text-decoration: none;
        font-size: 1.3em;
        letter-spacing: -1px;
        color: #1c1b1b;
    }

    .trial ul li:nth-child(2) {
        text-decoration: none;
        font-size: .9em;
        display: flex;
        justify-content: none;
        right: 34pc;
        position: absolute;
        top: 50px;
    }

    .trial ul li a#free {
        background: linear-gradient(350deg, #828181 50%, #4a4a4a 50%);
        padding: 10px;
        border-radius: 20px;
        margin-right: 3px;
        color: #e6ecec;
        box-shadow: 1px 1px 3px rgb(114, 114, 114);
        text-shadow: 0 0 5px black;
        box-shadow: 0 3px 3px 3px #b3b1b1;
        position: relative;
        top: 60px;
    }
}